<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-echo" version="0.0.0">
	<js-module src="echo.js" name="echo">
		<clobbers target="echo" />
	</js-module>
	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="Echo">
				<param name="android-package" value="com.youbanban.cordova.plugin.Echo"/>
			</feature>
		</config-file>
		<source-file src="src/android/Echo.java" target-dir="src/com/youbanban/cordova/plugin" />
	</platform>
</plugin>